.about {
  &__items {
    gap: 1rem;
    margin-bottom: 5.3rem;
    li {
      span:nth-child(1) {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 55px;
        color: var(--bg);
        -webkit-text-stroke: 1px var(--ligth);
        text-stroke: 1px var(--ligth);
        margin-bottom: 1rem;
      }
      span:nth-child(2) {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: var(--fs-6);
        text-align: center;
      }
    }
  }
  &__video {
    gap: 41px;
    div {
      video {
        max-width: 750px;
      }
    }
  }
}
