.about {
  padding-block: 2rem;
  background-repeat: no-repeat;
  background-position: center right;
  // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  &__items {
    gap: 1rem;
    margin-bottom: 5.3rem;
    li {
      span:nth-child(1) {
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 55px;
        color: var(--bg);
        -webkit-text-stroke: 1px var(--ligth);
        text-stroke: 1px var(--ligth);
        margin-bottom: 1rem;
      }
      span:nth-child(2) {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: var(--fs-6);
        text-align: center;
      }
    }
  }
  &__video-wrapper {
    gap: 2.6rem;
  }
  &__video-box {
    video {
      max-width: 42rem;
      height: 418px;
    }
  }
  &__video-text {
    backdrop-filter: blur(10px);
    background: linear-gradient(
      138deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    padding: 1rem;
    border-radius: 0.7rem;
    h3 {
      font-size: var(--fs-4);
      margin-bottom: 1.8rem;
    }
    p {
      font-size: var(--fs-8);
      line-height: 1.2;
    }
  }
}
