.about {
  &__items {
    gap: 1rem;
    margin-bottom: 20rem;
    li {
      font-family: var(--third-family);
      font-weight: 700;
      font-size: 55px;
      text-align: right; /* Лёгкое размытие */
      span {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: var(--fs-6);
        text-align: center;
      }
    }
  }
}
