.h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(3rem, 11vw, 6rem);
  line-height: 1;
}
.h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 43px;
}
.h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 35px;
}
